@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.People)]

<h1>@_t.PageTitle</h1>

<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th>@_t.TableName</th>
                <th>@_t.TableFirstName</th>
                <th>@_t.TableLastName</th>
                <th>@_t.TableDateOfBirth</th>
                <th>@_t.TableImageCount</th>
                <th class="text-end">
                    <a class="btn btn-sm btn-outline-primary" href=@C.Routes.PersonsFor(0)>@_t.Add</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _people)
            {
                <tr @key=item.PersonId>
                    <td class="user-select-all">@item.Name</td>
                    <td class="user-select-all">@item.FirstName</td>
                    <td class="user-select-all">@item.LastName</td>
                    <td class="user-select-all">@_f.Display(item.DateOfBirth, false)</td>
                    <td class="user-select-all">@item.ImageCount</td>
                    <td class="text-end">
                        <a class="btn btn-sm btn-outline-secondary"
                            href=@C.Routes.PersonsFor(item.PersonId)>@_t.Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>