@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Import)]
@layout ImportLayout

@if (NothingToImport)
{
    <span>@_t.NothingToImport</span>
}
else
{
    <div class="row min-vh-100 m-0">
        <Preview @ref=Preview />
        <div class="col-md-6 col-sm-12">
            <h1>@_t.PageTitle</h1>
            <div class="row g-1 mb-1">
                @if(Importing)
                {
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">@_t.Importing</span>
                    </div>
                    @_t.Importing
                }
                else if (Loading)
                {
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">@_t.Loading</span>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-4 mb-2">
                        <button class="btn btn-danger w-100" @onclick=Delete>@_t.Delete</button>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-2">
                        @if (IsDuplicate)
                        {
                            <button class="btn btn-warning disabled w-100">@_t.Duplicate</button>
                        }
                        else
                        {
                            <button class="btn btn-warning w-100" @onclick=Next>@_t.Skip</button>
                        }
                    </div>
                    @if (!IsDuplicate)
                    {
                        <div class="col-xs-12 col-sm-4 mb-2">
                            <button class="btn btn-success w-100" @onclick=ImportMedia>@_t.ImportImage</button>
                        </div>
                    }
                }
            </div>
            <DateTimeBox For=nameof(Created) Label=@_t.Date @bind-Value=Created Required />
            <div class="accordion" id="import-accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="location">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#location-content" aria-expanded="true" aria-controls="location-content">
                            @_t.Location
                        </button>
                    </h2>
                    <div id="location-content" class="accordion-collapse collapse show" aria-labelledby="location">
                        <div class="accordion-body">
                            <Location @ref=Location />
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="persons">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#persons-content" aria-expanded="true" aria-controls="persons-content">
                            @_t.Persons
                        </button>
                    </h2>
                    <div id="persons-content" class="accordion-collapse collapse show" aria-labelledby="persons">
                        <div class="accordion-body">
                            <Persons @ref=Persons />
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
}