@if(CurrentLocation != null)
{
    <div class="row g-3">
        <div class="col-xs-12 col-sm-6">
            <select class="form-select" aria-label=@_t.Country @bind=CurrentLocation.CountryId>
                <option selected value="" disabled>@_t.Country</option>
                @foreach (var country in Countries)
                {
                    <option value=@country.Value.CountryId>@country.Value.Code - @country.Value.Name</option>
                }
            </select>
        </div>
        <div class="col-xs-12 col-sm-6">
            <select class="form-select" aria-label=@_t.City @bind=CurrentLocation.CityId>
                <option selected value="" disabled>@_t.City</option>
                @foreach (var city in Cities)
                {
                    <option value=@city.Value.CityId>@city.Value.Name</option>
                }
            </select>
        </div>
        <div class="col-xs-12 col-sm-6">
            <select class="form-select" aria-label=@_t.Suburb @bind=CurrentLocation.SuburbId>
                <option selected value="" disabled>@_t.Suburb</option>
                @foreach (var suburb in Suburbs)
                {
                    <option value=@suburb.Value.SuburbId>@suburb.Value.Name</option>
                }
            </select>
        </div>
        <div class="col-xs-12 col-sm-6">
            @if(Loading)
            {
                <button class="btn btn-secondary w-100" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    @_t.LoadingGps
                </button>
            }
            else if(HasGpsCoordinates)
            {
                <button class="btn btn-success w-100" disabled>@_t.GpsFound</button>
            }
            else
            {
                <button class="btn btn-danger w-100" disabled>@_t.GpsNotFound</button>
            }
            @* TODO: Add manual location *@
        </div>
    </div>
}