<div class="mb-3">
    <label for="@For" class="form-label">@Label @(Required ? "*":"")</label>
    @if (Lines == 1)
    {
        <input @ref=Input class="form-control @(_isError ? "is-invalid":"")" id="@For" placeholder=@PlaceHolder @bind=@Value
            @onblur=Update required=@Required>
    }
    else
    {
        <textarea @ref=Input class="form-control @(_isError ? "is-invalid":"")" id="@For" placeholder=@PlaceHolder @bind=@Value
            @onblur=Update required=@Required rows=@Lines></textarea>
    }
    @if (_isError)
    {
        <div class="invalid-feedback">
            @Errors![For]
        </div>
    }
</div>

@code{
    private bool _isError => Errors != null && Errors.ContainsKey(For);
    private ElementReference Input;
    [Parameter] public string For { get; set; } = null!;
    [Parameter] public string Label { get; set; } = null!;
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter] public bool Required { get; set; }
    [Parameter] public int Lines { get; set; } = 1;
    [Parameter] public string? PlaceHolder { get; set; }
    [Parameter] public Dictionary<string, string>? Errors { get; set; }
    [Parameter] public bool AutoFocus { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender && AutoFocus)
            await Input.FocusAsync();
    }
    
    private async Task Update()
    {
        if (_isError)
            Errors!.Remove(For);

        if (!ValueChanged.HasDelegate)
            return;

        if (string.IsNullOrWhiteSpace(Value))
            await ValueChanged.InvokeAsync(null);

        await ValueChanged.InvokeAsync(Value);
    }
}