@using Models
@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.LocationsCity)]

@if (_create != null)
{
    <legend>@_t.CityAddTitle</legend>
    <form @onsubmit=SaveCreateClicked>
        <Dropdown For=@nameof(CityCreateModel.CountryId) Label=@_t.CityCountry @bind-Value=_create.CountryId Errors=_errors Required Items=_countries AutoFocus />
        <TextBox For=@nameof(CityCreateModel.Name) Label=@_t.CityName @bind-Value=_create.Name Errors=_errors Required />
        <TextBox For=@nameof(CityCreateModel.DisplayName) Label=@_t.CityDisplayName @bind-Value=_create.DisplayName Errors=_errors Required />
        
        <button type="submit" class="btn btn-primary">@_t.Save</button>
        <button type="button" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
    </form>
}
else if(_edit != null)
{
    <legend>@_t.CityEditTitle @_edit.Name</legend>
    <form @onsubmit=SaveEditClicked>
        <Dropdown For=@nameof(CityEditModel.CountryId) Label=@_t.CityCountry @bind-Value=_edit.CountryId Errors=_errors Required Items=_countries AutoFocus />
        <TextBox For=@nameof(CityEditModel.Name) Label=@_t.CityName @bind-Value=_edit.Name Errors=_errors Required />
        <TextBox For=@nameof(CityEditModel.DisplayName) Label=@_t.CityDisplayName @bind-Value=_edit.DisplayName Errors=_errors Required />

        <button type="submit" class="btn btn-primary">@_t.SaveChanges</button>
        <button type="button" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
    </form>
}
else
{
    <text>@_t.NotFound</text>
}