@using Models
@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.LocationsCountry)]

@if (_create != null)
{
    <legend>@_t.CountryAddTitle</legend>
    <form @onsubmit=SaveCreateClicked>
        <TextBox For=@nameof(CountryCreateModel.Name) Label=@_t.CountryName @bind-Value=_create.Name Errors=_errors Required AutoFocus />
        <TextBox For=@nameof(CountryCreateModel.DisplayName) Label=@_t.CountryDisplayName @bind-Value=_create.DisplayName Errors=_errors Required />
        <TextBox For=@nameof(CountryCreateModel.Code) Label=@_t.CountryCode @bind-Value=_create.Code Errors=_errors Required />
        
        <button type="submit" class="btn btn-primary">@_t.Save</button>
        <button type="button" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
    </form>
}
else if(_edit != null)
{
    <legend>@_t.CountryEditTitle @_edit.Name</legend>
    <form @onsubmit=SaveEditClicked>
        <TextBox For=@nameof(CountryEditModel.Name) Label=@_t.CountryName @bind-Value=_edit.Name Errors=_errors Required AutoFocus />
        <TextBox For=@nameof(CountryEditModel.DisplayName) Label=@_t.CountryDisplayName @bind-Value=_edit.DisplayName Errors=_errors Required />
        <TextBox For=@nameof(CountryEditModel.Code) Label=@_t.CountryCode @bind-Value=_edit.Code Errors=_errors Required />

        <button type="submit" class="btn btn-primary">@_t.SaveChanges</button>
        <button type="button" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
    </form>
}
else
{
    <text>@_t.NotFound</text>
}