@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Locations)]
@using albumica.Models

<h1>@_t.PageTitle</h1>

<div class="accordion" id="locations">
    <div class="accordion-item">
        <h2 class="accordion-header" id="countries-label">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#countries" aria-expanded="true" aria-controls="countries">
                @_t.CountryTab
            </button>
        </h2>
        <div id="countries" class="accordion-collapse collapse show" aria-labelledby="countries-label">
            <div class="accordion-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>@_t.CountryTableName</th>
                                <th>@_t.CountryTableCode</th>
                                <th>@_t.CountryTableCities</th>
                                <th>@_t.CountryTableSuburbs</th>
                                <th class="text-end">
                                    <a class="btn btn-sm btn-outline-primary" href=@C.Routes.LocationsCountryFor(0)>@_t.Add</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in _countries)
                            {
                                <tr @key=item.CountryId>
                                    <td class="user-select-all">@item.Name</td>
                                    <td class="user-select-all">@item.Code</td>
                                    <td class="user-select-all">@item.CityCount</td>
                                    <td class="user-select-all">@item.SuburbCount</td>
                                    <td class="text-end">
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href=@C.Routes.LocationsCountryFor(item.CountryId)>@_t.Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="cities-label">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cities" aria-expanded="true" aria-controls="cities">
                @_t.CityTab
            </button>
        </h2>
        <div id="cities" class="accordion-collapse collapse show" aria-labelledby="cities-label">
            <div class="accordion-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>@_t.CityTableCountry</th>
                                <th>@_t.CityTableName</th>
                                <th>@_t.CityTableSuburbs</th>
                                <th class="text-end">
                                    <a class="btn btn-sm btn-outline-primary" href=@C.Routes.LocationsCityFor(0)>@_t.Add</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in _cities)
                            {
                                <tr @key=item.CityId>
                                    <td class="user-select-all">@item.CountryName</td>
                                    <td class="user-select-all">@item.Name</td>
                                    <td class="user-select-all">@item.SuburbCount</td>
                                    <td class="text-end">
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href=@C.Routes.LocationsCityFor(item.CityId)>@_t.Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="suburbs-label">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#suburbs" aria-expanded="true" aria-controls="suburbs">
                @_t.SuburbTab
            </button>
        </h2>
        <div id="suburbs" class="accordion-collapse collapse show" aria-labelledby="suburbs-label">
            <div class="accordion-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>@_t.SuburbTableCountry</th>
                                <th>@_t.SuburbTableCity</th>
                                <th>@_t.SuburbTableName</th>
                                <th class="text-end">
                                    <a class="btn btn-sm btn-outline-primary" href=@C.Routes.LocationsSuburbFor(0)>@_t.Add</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in _suburbs)
                            {
                                <tr @key=item.SuburbId>
                                    <td class="user-select-all">@item.City?.Country?.Name</td>
                                    <td class="user-select-all">@item.City?.Name</td>
                                    <td class="user-select-all">@item.Name</td>
                                    <td class="text-end">
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href=@C.Routes.LocationsSuburbFor(item.SuburbId)>@_t.Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>