@using Models
@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.LocationsSuburb)]

@if (_create != null)
{
    <legend>@_t.SuburbAddTitle</legend>
    <form @onsubmit=SaveCreateClicked>
        <Dropdown For=@nameof(SuburbCreateModel.CityId) Label=@_t.SuburbCity @bind-Value=_create.CityId Errors=_errors Required Items=_cities AutoFocus />
        <TextBox For=@nameof(SuburbCreateModel.Name) Label=@_t.SuburbName @bind-Value=_create.Name Errors=_errors Required />
        <TextBox For=@nameof(SuburbCreateModel.DisplayName) Label=@_t.SuburbDisplayName @bind-Value=_create.DisplayName Errors=_errors Required />
        
        <button type="submit" class="btn btn-primary">@_t.Save</button>
        <button type="button" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
    </form>
}
else if(_edit != null)
{
    <legend>@_t.SuburbEditTitle @_edit.Name</legend>
    <form @onsubmit=SaveEditClicked>
        <Dropdown For=@nameof(SuburbEditModel.CityId) Label=@_t.SuburbCity @bind-Value=_edit.CityId Errors=_errors Required Items=_cities AutoFocus />
        <TextBox For=@nameof(SuburbEditModel.Name) Label=@_t.SuburbName @bind-Value=_edit.Name Errors=_errors Required />
        <TextBox For=@nameof(SuburbEditModel.DisplayName) Label=@_t.SuburbDisplayName @bind-Value=_edit.DisplayName Errors=_errors Required />

        <button type="submit" class="btn btn-primary">@_t.SaveChanges</button>
        <button type="button" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
    </form>
}
else
{
    <text>@_t.NotFound</text>
}